//颜色
$bgColor: rgb(255, 255, 255); //背景颜色
$antiBgColor: rgb(0,0,0); //反色

$back85:lightgrey; 
$bgColor90:rgb(230,230,230);
$bgColor80:rgb(210,210,210);
$bgColor70:rgb(190,190,190);
$bgColor40:rgb(100,100,100);

$textNumColor: rgba($antiBgColor,0.35);
$textColor: rgb(0,0,0);

$buttonColor:rgb(50,50,50);

$rightButtonColor:rgb(230,230,230);
