@use "@/static/style/variables/font-text.scss" as *;
@use "@/static/style/variables/color.scss" as *;
@use "@/static/style/mixin/global.scss" as *;


// 通用标题框
.titleBar {
	width:100%;
	word-break: break-all;
	.titleButtons{
		height: 100%;
		float: right; //浮动在右边，因此需要把按键框放在名称前
		display: flex;
	}
	.titleName{
		display: flex;
		align-items: center;
		>.text{
			width: 100%;
			@include textMaxLine(1);
		}
	}
}
